fastapi
uvicorn[standard]
python-dotenv
httpx
pydantic-settings
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx